body {
  font-size: 14px;
  font-family: 'sans-serif';
}

#page {
    margin: 1em auto;
    max-width: 800px;
}

#main-view {
    border: 1px solid blue;
    position: relative;
}

.wizzard {
    background: url('img/wizzard/wizzard_spr.png') no-repeat;
    /*border: 1px solid green;*/
    position: absolute;
    z-index: 100;
}

.boss1 {
    background: url('img/gringe_01.png') no-repeat;
    position: absolute;
    z-index: 100;
}

.score {
    font-size: 1.34em;
    padding: 0.5em;
}

.health-bar {
    background-color: crimson;
    position: absolute;
    z-index: 150;
}

.health-bar-inner {
    background-color: lime;
    display: block;
    font-size: 0.5em;
    height: 100%
}

.player-bullet {
    background: url('img/iceball_01.png') no-repeat;
    position: absolute;
    z-index: 200;
}

.actionbar {
    padding: 1em 0;
}

.Impacting {
    background-color: crimson;
}

.flipH {
    transform: scaleX(-1);
    filter: flipH;
    -ms-filter: "FlipH";
}

.flipV {
    transform: scaleY(-1);
    filter: flipV;
    -ms-filter: "FlipV";
}