body {
  font-size: 14px;
  font-family: 'sans-serif';
}

#page {
    float: left;
    max-width: 800px;
}

#main-view {
    border: 1px solid blue;
    height: 600px;
    position: relative;
    width: 800px;
}

#debug-pane {
    float: left;
    background-color:darkslateblue;
    border: 3px solid slateblue;
    margin-right: 3em;
    min-height: 270px;
    min-width: 330px;
    padding: 0.67em;
    color: gold;
}

.wizzard {
    background: url('img/wizzard/wizzard_spr.png') no-repeat;
    /*border: 1px solid green;*/
    position: absolute;
    z-index: 100;
}

.boss1 {
    background: url('img/gringe_01.png') no-repeat;
    position: absolute;
    z-index: 100;
}

.score {
    font-size: 1.34em;
    padding: 0.5em;
}

.health-bar {
    background-color: crimson;
    position: absolute;
    z-index: 150;
}

.health-bar-inner {
    background-color: lime;
    display: block;
    font-size: 0.6em;
    height: 100%;
}

/*
.pointer {
    border: 1px solid aqua;
    position: absolute;
    z-index: 200;
    transform-origin: 50% 50% 0px;
    transform: rotate(30deg);
}
*/

.pointer-line {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 50;
    width: 800px;
    height: 600px;
}

.player-bullet {
    background: url('img/iceball_01.png') no-repeat;
    position: absolute;
    z-index: 200;
}

.actionbar {
    padding: 1em 0;
}

.Impacting {
    background-color: crimson;
}

.flipH {
    transform: scaleX(-1);
    filter: flipH;
    -ms-filter: "FlipH";
}

.flipV {
    transform: scaleY(-1);
    filter: flipV;
    -ms-filter: "FlipV";
}
