body {
  background: #222;
  color: darkkhaki;
  font-size: 14px;
  font-family: 'sans-serif';
  margin: 0;
  padding: 0;
}

footer {
  padding: 1em;
}

#main-view {
  background: url('img/bg_forest01.png');
  position: relative;
  height: 80vh;
  max-height: 100vw;
}

.title {
  position: absolute;
  top: 0;
  right: 2%;
  z-index: 50;
  line-height: 0.8em;
}

.wizzard {
  background: url('img/wizzard/wizzard_spr.png') no-repeat;
  /*border: 1px solid green;*/
  position: absolute;
  z-index: 100;
}

.gringe {
  background: url('img/gringe/gringe_spr.png') no-repeat;
  position: absolute;
  z-index: 100;
}

.score {
  font-size: 2em;
  padding: 0.3em;
	color: burlywood;
	font-weight: bold;
}

.health-bar {
  background-color: crimson;
  position: absolute;
  z-index: 150;
}

.health-bar-inner {
  color: black;
  background-color: lime;
  display: block;
  font-size: 0.6em;
  height: 100%;
}

.pointer-line {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
}

.player-bullet {
  background: url('img/iceball_01.png') no-repeat;
  position: absolute;
  z-index: 200;
}

.actionbar {
  float: right;
}

.actionbar button {
  margin-left: 0.67em;
  padding: 0.3em 0.5em;
}

.Impacting {
  background-color: crimson;
}

.flipH {
  transform: scaleX(-1);
  filter: flipH;
  -ms-filter: "FlipH";
}

.flipV {
  transform: scaleY(-1);
  filter: flipV;
  -ms-filter: "FlipV";
}

#restart {
  background: red;
  color:white;
}
